body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
}

.header{
    background-color: rgba(196, 184, 178, 0.6);
    justify-content: space-evenly;
    display: flex;
}
.header h2{
    color: #FFc107;
    text-shadow: 1px 3px 1px blue;
}

.header img{
   width: 90px;
   height: 90px;
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
main{
    background-color: antiquewhite;
    border-top: 1px solid burlywood;
}
main ul{
    list-style: none;
}